# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock
pnpm-lock.yaml

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Next.js local development files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production
.DS_Store
*.pem

# TrueNAS
.ipynb_checkpoints

# Mac
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in your root directory
# Comment out and remove from comments if you need to commit any of these files.
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
# *.sublime-workspace

# Firebase
.firebase
firebase-debug.log
# If you have service account keys not handled by .env.local and not in a dedicated secured location
# For example, if you were to put a service account JSON directly in the project (not recommended for security)
# serviceAccountKey.json

# Genkit
.genkit/traces/

# IDX specific
.idx

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
